body {
    margin: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    gap:50px;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/img/Roaster.jpeg);
    /* background-image: cover; */
    background-position:top;
    background-repeat: none !important; 
    background-size:cover;
    opacity: 1;
    padding-top: 10%;

}

.titleCounter{
    width: 100%;
    height: 30%;
    display: flex;
    gap:15px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
}

h1{
    display: flex;
    font-size: 65px;
    margin: 0;
}

.titleCounter p {
    display: flex;
    font-size: 20px;
    margin:0;
}

.iconfollowers{
    margin:0;
    padding: 0;
    color: white;
    height: 50% !important;
    display: flex;
    gap:70px;
    justify-content: center;
    align-items: center;
    height: 100px ;
    z-index: 1;
    
}

.iconIndividual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    z-index: 1;
    background-color: rgb(143, 133, 133);
    opacity: 0.8;
    box-shadow: 1px 1px 5px 5px;
    border-radius: 20px;
    width:12%;
    transition: 0.3s ease
}
.iconIndividual:hover{
    transform: scale(1.05)
}

.iconIndividual p{
    font-family: 'Playfair Display', serif;
    margin: 0;

}
.coffeeTitle{
    font-weight: bolder;
    font-size: 17px;
}

.smallP{
    font-size: 13px;
    font-weight: 200;
    font-style: italic;
    padding-bottom: 10px;
}

img{
    width: 80px;
    height: 80px;
    padding-top: 10px;
    z-index: 1;
}

